/advancements
/data
/DIM*
/entities
/playerdata
/poi
/region
/stats
/icon.png
/level.dat*
/session.lock
/datapacks/Chicken_Shedding_1.3.zip
/datapacks/coordinates hud v1.2.0.zip
/datapacks/death-pos-v1-1.zip
/datapacks/invisible-armor-dp-v1-0-0.zip
/resourcepacks/invisible-armor-rp-v1-0-0.zip